.app-contact-page {
    background-color: black;
    height: 100vh;
}

.box {
    border: 1px solid white;
    background-color: white;
    padding: 150px;
    text-align: center;
    margin-bottom: 15px;
}

.content {
    position: relative;

    img {
        width: 420px;
        height: 350px;
    }

    .location-name {
        color: white;
        font-size: 66px;
        font-family: Thonburi Bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.logo-pic {
    text-align: center;
    margin-top: -35px;

    img {
        width: 360px;
        height: 100%;
    }
}

.container {
    position: relative;
    top: 20%;

    &.logo-page {
        margin-top: 50px;
    }

}

footer {
    background-color: black;
    margin-top: 200px;

    .copyright{
        margin-left: 55px;
    }
    .copyright-text {
        color: white;
        font-size: 16px;
        text-align: center;
        font-family: Thonburi Bold;
    }
}

@media only screen and (max-width: 2560px) {
    footer {
        margin-top: 1000px;
    }
}

@media only screen and (max-width: 1920px) {
    footer {
        margin-top: 580px;
    }
}

@media only screen and (max-width: 1680px) {
    footer {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 1440px) {
    footer {
        margin-top: 305px;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        margin-top: 228px;
        .copyright{
            margin-left: 158px;
        }

        .copyright-text {
            font-size: 14px;
        }
    }

    .content {
        .location-name {
            font-size: 45px;
        }

        img {
            width: 300px;
            height: 230px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        margin-top: 228px;
        .copyright{
            margin-left: 158px;
        }

        .copyright-text {
            font-size: 14px;
        }
    }

    .content {
        .location{
            justify-content: center;
        }
        .location-name {
            font-size: 45px;
        }

        img {
            width: 420px;
            height: 350px;
        }
    }
}