.app-contact-page {
    background-color: black;
}

.box {
    border: 1px solid white;
    background-color: white;
    padding: 150px;
    text-align: center;
    margin-bottom: 15px;
}

.content {
    position: relative;

    img {
        width: 420px;
        height: 350px;
        pointer-events: none;
    }

    .location-name {
        color: white;
        font-size: 66px;
        font-family: Thonburi Bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .detail {
        margin-top: 28px;
        position: relative;
        display: flex;
    }

    .text-detail {
        color: white;
        text-align: left;
        font-size: 16px;
        font-family: Thonburi Bold;
        position: absolute;
        right: 40px;
    }
}

.container {
    position: relative;
    top: 20%;

    &.logo-page {
        margin-top: 50px;
    }

}

footer {
    background-color: black;
    margin-top: 200px;

    .contact-detail {
        margin-left: 17px;
        margin-top: 56px;

        .email {
            color: white;
            text-align: left;
            font-size: 16px;
            font-family: Thonburi Bold;
            line-height: 0.5;
        }

        .website {
            color: white;
            text-align: left;
            font-size: 16px;
            font-family: Thonburi Bold;
            line-height: 0.6;
        }
    }

    .social-logo {
        margin-left: 15px;
        margin-top: 3px;
    }

    .copyright {
        position: absolute;
        right: 30px;
        margin-top: 91px;
    }

    .copyright-text {
        color: white;
        font-size: 16px;
        text-align: center;
        font-family: Thonburi Bold;
    }
}

@media only screen and (max-width: 1367px) {
    .content {
        img {
            width: 360px;
            height: 300px;
        }

        .location-name {
            font-size: 55px;
        }

        .text-detail {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .content {
        top: 25%;

        .text-detail {
            font-size: 11px;
            right: 36px;
            margin-top: -32px;
        }

        .location {
            justify-content: center;
        }

        .location-name {
            font-size: 45px;
        }

        img {
            width: 300px;
            height: 230px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .content {
        top: 8%;

        .text-detail {
            right: 235px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .content {
        top: 10%;

        .text-detail {
            font-size: 11px;
            right: 235px;
            margin-top: -32px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .content {
        top: 10%;

        .text-detail {
            right: 148px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .content {
        top: 10%;
        img{
            width: 270px;
            height: 170px;
            margin-bottom: 12px;
        
        }

        .text-detail {
            right: 118px;
        }
    }
}

@media only screen and (max-width: 415px) {
    .content {
        .text-detail {
            right: 85px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .content {
        top: 15%;
        img{
            width: 170px;
            height: 100px;
            margin-bottom: 12px;
        
        }
        .text-detail {
            right: 90px;
        }

        .text-detail {
            font-size: 8px;
        }

        .location-name {
            font-size: 18px;
        }
    }
}