<app-nav-bar [from]="'home-page'"></app-nav-bar>
<div class="app-contact-page" [ngStyle]="{'height.px': heightScreen}">
    <div class="container content reveal">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-6">
                <div class="location" style="display: flex; position: relative;">
                    <div>
                        <p class="location-name">
                            LONDON</p>
                    </div>

                    <img src="../assets/picture/Contact_London.jpg">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6">
                <div class="location" style="display: flex; position: relative;">
                    <p class="location-name">
                        BANGKOK</p>
                    <img src="../assets/picture/Contact_Bangkok.jpg">
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-6">
                <div class="location" style="display: flex; position: relative;">
                    <p class="location-name">
                        TOKYO</p>
                    <img src="../assets/picture/Contact_Tokyo.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 detail">
                <p class="text-detail" >
                    Interested in collaboration? Drop us a line, and<br>
                    let's discuss the potential of bringing your<br>
                    project to life together</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>