.reel {
    background-color: black;
}

h3{
    text-align: center;
}

.content{
    position: relative;
    top: 15%;
    
}

.logo-pic{
    text-align: center;
    img{
        width:360px;
        height:100%;
    }
}

.pic{
    margin-bottom: 10px;
    text-align: center;
}

.reel-text{
    color: white;
    font-size: 16px;
    font-family: Thonburi Bold;
    text-align: center;
}

.frame-container {
    overflow: hidden;
    width: 100%;
}

.frame-container {
    .video-reel {
        overflow: hidden;
        aspect-ratio: 14 / 5;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

// footer {
//     background-color: black;
//     margin-top: -25px;

//     .social-logo {
//         margin-top: 141px;
//         margin-left: 15px;
//     }

//     .copyright{
//         position: absolute;
//         right: 30px;
//         margin-top: 122px;
//     }

//     .copyright-text {
//         color: white;
//         font-size: 16px;
//         text-align: center;
//         font-family: Thonburi Bold;
//     }
// }

// @media only screen and (max-width: 2560px) {
//     footer {
//         margin-top: 700px;
//     }
// }

// @media only screen and (max-width: 1920px) {
//     footer {
//         margin-top: 330px;
//     }
// }

// @media only screen and (max-width: 1680px) {
//     footer {
//         margin-top: 289px;
//     }
// }

// @media only screen and (max-width: 1440px) {
//     footer {
//         margin-top: 145px;
//     }
// }

// @media only screen and (max-width: 1367px) {
//     footer {
//         margin-top: 76px;
//     }
// }

// @media only screen and (max-width: 1280px) {
//     footer {
//         margin-top: 108px;
//     }
// }

// @media only screen and (max-width: 1024px) {
//     footer {
//         margin-top: 139px;
//     }
// }

// @media only screen and (max-width: 768px) {
//     .reel-text{
//         font-size: 15px;
//     }
//     footer {
//         margin-top: 124px;
//     }
// }

// @media only screen and (max-width: 426px) {
//     footer {
//         margin-top: 200px;
//         .social-logo {
//             position: relative;
//             display: flex;
//             justify-content: center;
//             margin-top: 12px;
//         }

//         .copyright{
//             position: relative;
//             display: flex;
//             justify-content: center;
//             right: -20px;
//             margin-top: 17px;
//         }

//         .copyright-text {
//             font-size: 12px;
//         }
//     }
// }