<app-nav-bar [from]="'home-page'"></app-nav-bar>
<div class="reel" [ngStyle]="{'height.px': heightScreen}">
    <div class="container content">
        <div class="frame-container">
            <video controls loop autoplay width="320" height="240" class="video-reel" playsinline>
                <source src="../assets/video/Reel.mp4" type="video/mp4">
            </video>
        </div>
      <div class="row">
        <div class="col-sm">
            <p class="reel-text"> Our experienced team of animators have worked on the
                following projects at various studios,<br> We're showcasing
                their ability and expertise through 11 RONIN to show you
                the high-end<br> services in keyframe animation we can
                provide in our boutique studio.</p>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>