<app-nav-bar [from]="'home-page'"></app-nav-bar>
<div class="reel">

    <div class="container content reveal">
        <div class="frame-container">
            <iframe class="e2e-iframe-trusted-src" width="300px" scrolling="no" [src]="url" frameborder="0" allowfullscreen
            allow="autoplay; encrypted-media" controls="true"></iframe>
        </div>
      
    </div>
</div>
<footer style="background-color: black; margin-top: -57px;">
    <div class="logo-pic">
        <img src="../assets/picture/Logo_02_white_nobackground.png">
    </div>
</footer>