.reel {
    background-color: black;
    height: 100vh;
}

h3{
    text-align: center;
}

.content{
    position: relative;
    top: 15%;
    
}

.logo-pic{
    text-align: center;
    img{
        width:360px;
        height:100%;
    }
}

.pic{
    margin-bottom: 10px;
    text-align: center;
}

.reel-text{
    color: white;
    font-size: 20px;
    font-family: Thonburi Bold;
    text-align: center;
}

.frame-container {
    overflow: hidden;
    width: 100%;
}

.frame-container {
    .video-reel {
        overflow: hidden;
        aspect-ratio: 14 / 5;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

footer {
    background-color: black;
    margin-top: -25px;
    .copyright-text{
        color: white;
        font-size: 16px;
        text-align: right;
        font-family: Thonburi Bold;
    }
}