.reel {
    background-color: black;
    height: 80vh;
}

h3{
    text-align: center;
}

.content{
    position: relative;
    top: 20%;
    
}

.logo-pic{
    text-align: center;
    img{
        width:360px;
        height:100%;
    }
}

.pic{
    margin-bottom: 10px;
    text-align: center;
}

.frame-container {
    overflow: hidden;
    width: 100%;
    pointer-events: none;
}

.frame-container iframe {
    overflow: hidden;
    aspect-ratio: 16 / 5;
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}