h1 {
    position: absolute;
    inset: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 141px;
    z-index: 1;
    font-family: Thonburi Bold;
}

.text-center {
    position: absolute;
    inset: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 67px;
    z-index: 1;
    font-family: Thonburi Bold;

    &.v-text {
        transform: translate3d(0px, 280px, 0px);
    }
}

.wrapper {
    overflow: hidden;
    max-width: 100%;
}

.frame-container {
    overflow: hidden;
    aspect-ratio: 16/9;
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;

    .bottom {
        bottom: 0;
        right: 50%;
        position: relative;
        display: flex;
        left: 0;
        top: 49%;
    }
}

.frame-container {
    .video-home {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        // margin-top: -87px;
        transform-origin: 50% 50%;
    }
}

.frame-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: -87px;
    transform-origin: 50% 50%;

}

.test {
    fill: white;
    position: absolute;
    inset: 0px;
    width: 100%;
    display: flex;

}

footer {
    background-color: black;
    margin-top: -160px;

    .logo-pic {
        text-align: center;

        img {
            width: 360px;
            height: 100%;
        }
    }

    .copyright-text {
        color: white;
        font-size: 16px;
        text-align: right;
        font-family: Thonburi Bold;
    }
}



.about-us {
    background-color: black;
    margin-top: -2px;
    height: 700px;

    .content {
        top: 37%;
        position: relative;

        .about-us-text {
            font-size: 33px;
            font-family: Thonburi Bold;
            letter-spacing: 2px;
        }
    }


    .user-pic {
        width: 130px;
        height: 100px;
        margin-bottom: 10px;
    }

    p {
        color: white;
        text-align: center;
    }

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
        top: 30%;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}


.reel {
    background-color: gray;
    height: 100%;
    // margin-top: -1px;
    padding: 20px;

    h3 {
        text-align: center;
    }

    .content {
        position: relative;
    }

    .reel-title {
        color: white;
        font-size: 40px;
        font-family: Thonburi Bold;
    }

    .all-pic {
        display: flex;
        position: relative;
        margin-left: -110px;
        width: 1515px;
    }

    .pic {
        margin-bottom: 10px;
        text-align: center;
        margin: 0;
        flex: 0 0 0% !important;
        padding-right: 0 !IMPORTANT;
        padding-left: 0 !important;

        img {
            width: 303px;
            height: 100%;
        }
    }

    .logo-pic {
        text-align: center;
        margin-top: -40px;

        img {
            width: 360px;
            height: 100%;
        }
    }

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}

.service {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;

    .pic {
        text-align: center;
    }

    .service-title {
        color: white;
        font-size: 60px;
        font-family: Thonburi Bold;
        text-align: center;
    }

    .service-text {
        color: white;
        font-size: 33px;
        font-family: Thonburi Bold;
        letter-spacing: 2px;
        text-align: center;
    }

    .sub-title {
        color: white;
        font-size: 26px;
        font-family: Thonburi Bold;
    }

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 5120px) {
    .frame-container {
        .bottom {
            top: 84%;
        }
    }
}

@media only screen and (max-width: 2560px) {
    .frame-container {
        .bottom {
            top: 75%;
        }
    }
}

@media only screen and (max-width: 1920px) {
    .frame-container {
        .bottom {
            top: 65%;
        }
    }
}

@media only screen and (max-width: 1680px) {
    .frame-container {
        .bottom {
            top: 49%;
        }
    }
}


@media only screen and (max-width: 1440px) {
    .reel {
        .all-pic {
            margin-left: -72px;
        }

        .pic {
            img {
                width: 288px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .frame-container {
        .bottom {
            top: 40%;
        }
    }
    .reel {
        .all-pic {
            margin-left: -43px;
        }

        .pic {
            img {
                width: 205px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .reel {
        .all-pic {
            margin-left: -36px;
        }

        .pic {
            img {
                width: 154px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .reel {
        .all-pic {
            margin-left: -36px;
        }

        .pic {
            img {
                width: 154px;
            }
        }
    }
}




// @media only screen and (max-width: 600px) {
//     .frame-container iframe {
//         width: 656%;
//     }
// }

// @media only screen and (max-width: 318px) {
//     .frame-container iframe {
//         width: 890%;
//     }
// }