h1 {
    position: absolute;
    inset: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 141px;
    z-index: 1;
    font-family: Thonburi Bold;
}

.text-center {
    position: absolute;
    inset: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 67px;
    z-index: 1;
    font-family: Thonburi Bold;
}

.wrapper {
    overflow: hidden;
    max-width: 100%;
}

.frame-container {
    overflow: hidden;
    aspect-ratio: 16/9;
    pointer-events: none;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: black;

    img {
        width: 680px;
        height: 400px;
    }

    .bottom {
        position: relative;
        display: flex;
    }

    .video-home {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        // margin-top: -30px;

        // width: 270%;
        // margin-left: -70%;
        // height: 1215px;
        // margin-top: -186px;
    }
}

.about-us {
    background-color: black;
    margin-top: -2px;

    .content {
        top: 37%;
        position: relative;

        .about-us-text {
            font-size: 33px;
            font-family: Thonburi Bold;
            letter-spacing: 2px;
        }
    }


    .user-pic {
        width: 130px;
        height: 100px;
        margin-bottom: 10px;
    }

    p {
        color: white;
        text-align: center;
    }

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
        top: 30%;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}


.reel {
    background-color: gray;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .content {
        position: relative;
        margin: 0;
    }

    .all-pic {
        display: flex;
        position: relative;
    }

    .pic {
        margin-bottom: 10px;
        text-align: center;
        margin: 0;
        flex: 0 0 0% !important;
        padding-right: 0 !IMPORTANT;
        padding-left: 0 !important;

        img {
            height: 100%;
            pointer-events: none;
        }
    }
}

.service {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;

    .content {
        margin-top: 80px;
        .service-text {
            color: white;
            font-size: 33px;
            font-family: Thonburi Bold;
            letter-spacing: 2px;
            text-align: center;
        }

        .video-home{
            position: relative;
            display: flex;
            width: 100%;
            margin-top: 100px;
            .video-boucing{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    
}

@media only screen and (max-width: 1024px) {
    .frame-container {
        .bottom {
            // top: 58%;

            .text-center {
                font-size: 40px;
            }
        }

        .video-home {
            width: 270%;
            margin-left: -70%;
            height: 1570px;
            margin-top: -196px;
        }
    }
    .about-us {
        .content {
            .about-us-text {
                font-size: 24px;
            }
        }
    }

    .service {
        .content{
            .service-text {
                font-size: 20px;
            }
        }
       
    }
}

@media only screen and (max-width: 800px) {
    .frame-container {
        .bottom {
            .text-center {
                font-size: 40px;
            }
        }

        .video-home {
            position: absolute;
            width: 385%;
            margin-left: -138%;
            height: 1380px;
            margin-top: -180px;
        }

        img {
            width: 580px;
            height: 300px;
        }
    }

    .about-us {
        .content {
            .about-us-text {
                font-size: 19px;
            }
        }

        .reveal {
            top: 40%;
        }
    }

    .service {
        .content{
            .service-text {
                font-size: 20px;
            }

            .video-home{
                margin-bottom: -100px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .service {
        .content{
         .logo-pic{
            margin-bottom: -205px;
         }

         .video-boucing{
            video{
                width: 220px;
                height: 100px;
            }
         }
        }
    }

    .about-us {
        .reveal {
            top: 34%;
        }
    }
}

@media only screen and (max-width: 426px) {
    .frame-container {
        .bottom {
            .text-center {
                font-size: 15px;
            }
        }

        img {
            width: 200px;
            height: 120px;
        }

        .video-home {
            width: 570%;
            margin-left: -100%;
            height: 1669px;
            transform: translate3d(0px, 0px, 0px);
            margin-top: -453px;
        }
    }

    .about-us {
        .content {
            .about-us-text {
                font-size: 21px;
            }
        }

        .reveal {
            top: 30%;
        }
    }

    footer {
        .social-logo {
            margin-top: 174px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        .logo-pic {
            margin-top: -132px;
        }

        .copyright {
            margin-top: -90px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .copyright-text {
            font-size: 12px;
            text-align: center;
        }
    }

}

@media only screen and (max-width: 376px) {
    .about-us {
        .reveal {
            top: 25%;
        }
    }

    .service {
        .content{
            .service-text {
                font-size: 15px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .about-us {
        .content {
            .about-us-text {
                font-size: 16px;
            }
        }

        .reveal {
            top: 22%;
        }
    }
}