<div class="home">
    <app-nav-bar class="app-nav-bar" [from]="'home-page'"></app-nav-bar>
    <div class="frame-container" [style]=" widthScreen > 1024 ? '' :  heightScreen">
        <p class="text-center"><img width="50%" height="50%" src="../assets/picture/Logo_02_white_nobackground.png"></p>
        <div class="bottom">
            <p class="text-center v-text" [style]="bottomSign">V</p>
        </div>
        <video [muted]="'muted'" width="100%" class="video-home" playsinline autoplay loop>
            <source src="../assets/video/Home_Page.mp4" type="video/mp4">
        </video>
    </div>

    <div class="about-us" [style]="heightScreen">
        <div class="container content reveal">
            <div class="row">
                <div class="col-sm">
                    <p class="about-us-text">
                        At 11 RONIN we create performances through the<br>
                        art of animation for CG character and creatures.<br>
                        Our team is experienced in producing high quality<br>
                        keyframe animation in realistic and stylized forms.<br>
                        Animation for Feature films, Visual effects,<br>
                        Commercials and Game cinematics.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reel">
        <div class="container content">
            <div class="row all-pic" [ngStyle]="{'width.px': realWidth}">
                <div class="col-lg-3 col-md-5 col-sm-6 pic" *ngIf="widthPic">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0168.jpeg">
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 pic" *ngIf="widthPic">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0169.jpeg">
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 pic" *ngIf="widthPic">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0173.jpeg">
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 pic" *ngIf="widthPic">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0172.jpeg">
                </div>
                <div class="col-md-5 col-sm-6 pic" *ngIf="checkedSize == 2">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0191.jpeg">
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 pic" *ngIf="widthPic">
                    <img [ngStyle]="{'width.px': widthPic}" src="../assets/picture/IMG_0175.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div class="service">
        <div class="container content">
            <div class="row">
                <div class="col-sm">
                    <p class="service-text">
                        Our experienced team of animators have worked on the<br>
                        following projects at various studios, We're showcasing<br>
                        their ability and expertise through 11 RONIN to show you<br>
                        the high-end services in keyframe animation we can<br>
                        provide in our boutique studio.</p>
                </div>
            </div>
            <div class="row" *ngIf="realWidth < 1024">
                <div class="video-home">
                    <div class="video-boucing">
                        <video [muted]="'muted'" loop autoplay width="320" height="200" playsinline>
                            <source src="../assets/video/Bouncing_ball.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer [from]="'home'"></app-footer>