.about-us {
    background-color: black;
    height: 100vh;
}

.content {
    position: relative;
    top:25%;
}


.user-pic {
    width: 200px;
    height: 180px;
    margin-top: -53px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    margin-left: 85px;
}

p {
    color: white;
    text-align: justify;
}