.about-us {
    background-color: black;
    height: 100vh;
}

.content {
    position: relative;
    top: 22%;
}


.user-pic {
    width: 200px;
    height: 180px;
    margin-top: -53px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    margin-left: 85px;
    pointer-events: none;
}

.about-us-text {
    font-size: 26px;
    font-family: Thonburi Bold;
    text-align: center;
}

p {
    color: white;
    text-align: justify;
}


@media only screen and (max-width: 1367px) {
    .about-us-text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    .about-us-content {
        position: relative;
        display: flex;

        .about-us-container {
            position: absolute;
        }
    }

    .about-us-text {
        font-size: 18px;
    }

    .content {
        top: 30%;
    }
}



@media only screen and (max-width: 992px) {
    .about-us-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .about-us-text {
        font-size: 27px;
    }
}

@media only screen and (max-width: 768px) {
    .about-us-text {
        font-size: 20px;
    }
}

// @media only screen and (max-width: 768px),screen and (max-height: 360px) {
//     .user-pic{
//         width: 100px;
//         height: 80px;
//     }
//     .about-us-text {
//         font-size: 9px;
//     }
// }

@media only screen and (max-width: 600px) {
    .about-us-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .about-us-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .content {
        top: 20%;
    }

    .user-pic{
        margin-left: 90px;
    }
    .about-us-text {
        font-size: 13px;
    }

    .about-us-content {
        position: relative;
        display: flex;

        .about-us-container {
            position: absolute;
        }
    }
}

@media only screen and (max-width: 320px) {
    .user-pic{
        margin-left: 60px;
        width: 120px;
        height: 100px;
    }
    .about-us-text {
        font-size: 11px;
    }

    .content {
        top: 30%;
    }
}