<div class="about-us">
    <app-nav-bar [from]="'home-page'"></app-nav-bar>
    <div class="container content reveal">
        <div class="row">
            <img class="user-pic" src="../assets/picture/About_Us_picture.png">
        </div>
        <div class="row">
            <div class="col-sm">
                <p style="font-size: 26px; font-family: Thonburi Bold; text-align: center;"> 
                    Founded in 2024 by Fatih Dogan, our studio emerges from over 13
                     years of rich experience<br> in the animation industry. With a background
                      including esteemed studios such as MPC, Animal<br> Logic, Method Studios,
                       Dneg Feature, and Cinesite, Fatih Dogan envisioned a space to share <br>his
                       accumulated knowledge and skillset.
                    At our remote studio, we specialize in CG Animation,<br> boasting a team of
                     highly skilled animators dedicated to delivering top-tier<br> key frame
                     animation for features, visual effects, TV, and commercials. What sets
                     us apart<br> is not just our expertise, but also our unwavering commitment
                      to detail and quality. We take<br> pride in every project we undertake,
                      ensuring that each frame reflects our dedication to excellence
                </p>
            </div>
        </div>
    </div>
</div>