.about-us {
    background-color: black;
    height: 100vh;
}

.content {
    position: relative;
}


.user-pic {
    width: 160px;
    height: 155px;
    margin-top: -53px;
    margin-bottom: 10px;
    position: relative;
    left: 0;
    margin-left: 230px;
}

p {
    color: white;
    text-align: justify;
}